<h1 id="title">Wordland</h1>
<div>
  {{#if isAuthenticated}}
    <span>{{currentUser.username}}</span>
    {{#link-to 'logout'}}<span id='logout' class="glyphicon glyphicon-log-out">Logout</span>{{/link-to}}
  {{else}}
    {{#link-to 'login'}}<span id='login' class="glyphicon glyphicon-log-in">Login</span>{{/link-to}}
  {{/if}}
</div>
<div class="container">
  {{outlet}}
</div>
